#azul{
    background-color: blue;
    width: 410px;
    height: 100px;
    margin-bottom: 25px;
}
#poggers1{
    display: flex;
}
#cinza1{
    background-color: grey;
    width: 120px;
    height: 100px;
    margin-right: 25px;
}
#cinza2{
    background-color: grey;
    width: 120px;
    height: 100px;
    margin-right: 25px;
}
#cinza3{
    background-color: grey;
    width: 120px;
    height: 100px;
    margin-right: 25px;
}
#poggers2{
    display: flex;
    margin-top: 25px;
}
#cinza4{
    background-color: grey;
    width: 120px;
    height: 100px;
    margin-right: 25px;
}
#cinza5{
    background-color: grey;
    width: 120px;
    height: 100px;
    margin-right: 25px;
}
#cinza6{
    background-color: grey;
    width: 120px;
    height: 100px;
    margin-right: 25px;
}
#verde{
    background-color: green;
    width: 410px;
    height: 100px;
    margin-top: 25px;
}